@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

body {
    font-family: 'Muli', sans-serif;
    margin: 20px;
    background-color: #222831;
}

.judul{
    font-size: 50px;
}

.judul1 {
    color: #eeeeee;
}

.judul2 {
    color: #00adb5;
}

.search-box {
    padding: 10px;
    font-size: 17px;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
    color: #00adb5;
}

::placeholder {
    color: #DF186C88;
}

.search-box:focus {
    outline-width: 2px;
    outline-color: #00adb5;
}

.search-button {
    padding: 10px 10px;
    background: #00adb5;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}

.search-button:active{
    transform: translateY(3px);
    outline-color: #eeeeee;
}

.fa-search {
    color: #eeeeee;
}

table {
    margin-top: 20px;
}

th, td {
    text-align: center;
    max-width: 100px;
}

.number {
    width: 20px;
}

tr:hover {
    background-color: #eeeeee22;
}

.loader {
    text-align: center;
    margin-top: 30px;
    color: #eeeeee;
    display: none;
}

.btn {
    background-color: #00adb5;
    color: white;
}