{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/story-8.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/story-8.js' %}"></script>
    <title>Story 8 - Home Page</title>
</head>
<body>
    <div class="d-flex flex-row judul">
        <div class="p-2 judul1">Pencarian</div>
        <div class="p-2 judul2">Buku</div>
      </div>
    <div class="search">
        <input class="search-box" type="text" placeholder="Cari Buku Kalian Disini">
        <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
    </div>

    
    <div class="loader">
        <h1>Mohon Menunggu</h1>
        <img src="{% static 'img/loading.gif' %}">
    </div>

    {% csrf_token %}
    <div class="result-api">
       
    </div>
</body>
</html>